<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header style="color:blue">
   <ion-navbar color="hee"> 
<ion-row>
        <ion-col (click)="loc()">
          <ion-icon ios="ios-locate" md="md-locate" style="color: white"></ion-icon>
          <b style="color: white">Choose Your Location</b>
        </ion-col>
      </ion-row>
      <ion-searchbar>
      </ion-searchbar>
 </ion-navbar>
  </ion-header> -->
  <ion-content disable-scroll>
    <img src="assets/imgs/bike1.jpg" class="img-position">
    <ion-card>
      <form [formGroup]="signInForm" (ngSubmit)="signIn()">
        <ion-list>
          <ion-item>            
            <ion-label floating>+91-Enter Your Mobile Number</ion-label>
          <ion-input type="number" formControlName="mobile_number"></ion-input>
          </ion-item>
          <div class="error">
            <p *ngIf="signInForm.controls.mobile_number.hasError('required') && signInForm.controls.mobile_number.touched">mobile number is required!</p>
            <p *ngIf="signInForm.controls.mobile_number.hasError('minlength') && signInForm.controls.mobile_number.touched">minimum mobile number length is 10!</p>
            <p *ngIf="signInForm.controls.mobile_number.hasError('maxlength') && signInForm.controls.mobile_number.touched"> maximum mobile number length is 12!</p>
          </div> 
          <button ion-button round [disabled]="!signInForm.valid">Login</button>
          <br>
        </ion-list>
      </form>
    </ion-card>
  </ion-content>